body{
    display: flex;
    flex-direction: column;
    font-family:'Roboto',Arial;
}
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:#DBDEE2;
    font-size: 18px;
}
h1{
    color: #F9FAF8;
    font-size: 24px;
}
.content{
    display: flex;
    flex-direction: column;
}
/* have to fix the header  */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 8px;
}
.header-links{
    display: flex;
    list-style-type: none;
    gap: 24px;

}
/* have to fix this selector */
.htext{
    background-color:#1F2937 ;
    display: flex;
    padding: 8px;
    justify-content: space-evenly;
    padding: 100px;
}
.hero{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
}
.h{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.a{
    font-size: 18px;
    color: #DBDEE2;
}
.c{
    background-color: #3882f6;
    padding:8px 24px;
    border-radius: 8px;
    text-align: center;
    border: #3882f6;
    max-width: 100px;
    color: #F9FAF8;
    font-weight: 600;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
    width: 550px;
    height: 220px;
    color: #F9FAF8;

}
.info{
    font-size: 36px;
    font-weight:900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 40px;
}

.boxmain{
    padding: 75px;
}

.col{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.rep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.box{
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.text{
    color: #6D747D;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
 }
 .qu{
    font-size: 36px;
    color: #1F2937;
    font-weight:200;
    font-style: italic;
 }
 .ref{
    align-self: flex-end;
    font-weight: 600;
    font-size: 20px;
 }
 .d{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
    padding-left: 200px;
    padding-right: 200PX;
 }
 .blu{
    background-color: #3882f6;
    padding: 16px;
    display: flex;
    width: 900px;
    height: 90px;
    border-radius: 12px;
    justify-content: space-evenly;
    align-items: center;
 }
.ac{
    color: #F9FAF8;
    font-weight: 700;
    font-size: 20px;
}
.su{
    color: #DBDEE2;
}

.but{
    padding: 8px 24px;
    border-radius: 12px;
    background-color: #3882f6;
    border: #F9FAF8 solid;
    color: #F9FAF8;
    font-weight: 600;
    font-size: 16px;
}
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: #DBDEE2;
}